<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- Servlet Definition -->
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<display-name>DashboardServlet</display-name>
		<description>Servlet for handling dashboard requests</description>
		<servlet-class>com.clinic.controller.DashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddDoctorServlet</servlet-name>
		<display-name>AddDoctorServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.AddDoctorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddPatientServlet</servlet-name>
		<display-name>AddPatientServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.AddPatientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddInventoryServlet</servlet-name>
		<display-name>AddInventoryServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.AddInventoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoctorServlet</servlet-name>
		<display-name>DoctorServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.DoctorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PatientServlet</servlet-name>
		<display-name>PatientServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.PatientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InventoryServlet</servlet-name>
		<display-name>InventoryServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.InventoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteDoctorServlet</servlet-name>
		<display-name>DeleteDoctorServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.DeleteDoctorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewDoctorServlet</servlet-name>
		<display-name>ViewDoctorServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.ViewDoctorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditDoctorServlet</servlet-name>
		<display-name>EditDoctorServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.EditDoctorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditPatientServlet</servlet-name>
		<display-name>EditPatientServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.EditPatientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletePatientServlet</servlet-name>
		<display-name>DeletePatientServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.DeletePatientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewPatientServlet</servlet-name>
		<display-name>ViewPatientServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.ViewPatientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditInventoryServlet</servlet-name>
		<display-name>EditInventoryServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.EditInventoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteInventoryServlet</servlet-name>
		<display-name>DeleteInventoryServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.DeleteInventoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewInventoryServlet</servlet-name>
		<display-name>ViewInventoryServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.ViewInventoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NotificationServlet</servlet-name>
		<display-name>NotificationServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.NotificationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecordMedicineServlet</servlet-name>
		<display-name>RecordMedicineServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.RecordMedicineServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>no</servlet-name>
		<display-name>no</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.no</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadRecordMedicineFormServlet</servlet-name>
		<display-name>LoadRecordMedicineFormServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.LoadRecordMedicineFormServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QRCodeServlet</servlet-name>
		<display-name>QRCodeServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.QRCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChatServlet</servlet-name>
		<display-name>ChatServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.ChatServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadMessagesServlet</servlet-name>
		<display-name>LoadMessagesServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.LoadMessagesServlet</servlet-class>
	</servlet>
	<servlet><servlet-name>AddUserServlet</servlet-name>
		<display-name>AddUserServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.AddUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<display-name>UserServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PatientDashboardServlet</servlet-name>
		<display-name>PatientDashboardServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.PatientDashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendMessageServlet</servlet-name>
		<display-name>SendMessageServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.SendMessageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReceiveMessagesServlet</servlet-name>
		<display-name>ReceiveMessagesServlet</display-name>
		<description></description>
		<servlet-class>com.clinic.controller.ReceiveMessagesServlet</servlet-class>
	</servlet>

	<!-- Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/DashboardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddDoctorServlet</servlet-name>
		<url-pattern>/AddDoctorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPatientServlet</servlet-name>
		<url-pattern>/AddPatientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddInventoryServlet</servlet-name>
		<url-pattern>/AddInventoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoctorServlet</servlet-name>
		<url-pattern>/DoctorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientServlet</servlet-name>
		<url-pattern>/PatientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InventoryServlet</servlet-name>
		<url-pattern>/InventoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteDoctorServlet</servlet-name>
		<url-pattern>/DeleteDoctorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewDoctorServlet</servlet-name>
		<url-pattern>/ViewDoctorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditDoctorServlet</servlet-name>
		<url-pattern>/EditDoctorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditPatientServlet</servlet-name>
		<url-pattern>/EditPatientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePatientServlet</servlet-name>
		<url-pattern>/DeletePatientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewPatientServlet</servlet-name>
		<url-pattern>/ViewPatientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditInventoryServlet</servlet-name>
		<url-pattern>/EditInventoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteInventoryServlet</servlet-name>
		<url-pattern>/DeleteInventoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewInventoryServlet</servlet-name>
		<url-pattern>/ViewInventoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotificationServlet</servlet-name>
		<url-pattern>/NotificationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecordMedicineServlet</servlet-name>
		<url-pattern>/RecordMedicineServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>no</servlet-name>
		<url-pattern>/no</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadRecordMedicineFormServlet</servlet-name>
		<url-pattern>/LoadRecordMedicineFormServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QRCodeServlet</servlet-name>
		<url-pattern>/QRCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatServlet</servlet-name>
		<url-pattern>/ChatServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadMessagesServlet</servlet-name>
		<url-pattern>/LoadMessagesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/AddUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/<!-- LoginServlet --></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientDashboardServlet</servlet-name>
		<url-pattern>/PatientDashboardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMessageServlet</servlet-name>
		<url-pattern>/SendMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReceiveMessagesServlet</servlet-name>
		<url-pattern>/ReceiveMessagesServlet</url-pattern>
	</servlet-mapping>

</web-app>
